@model Avero.Core.Entities.Product

@{
    ViewData["Title"] = "View Product";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    var pImages = @Model.product_imgs.ToList();

}


@section style {
<style>
   
 .product-detiles {
    margin: 0;
    box-sizing: border-box;
    height: 90vh;
    width: auto;
}

  .row .first-section {
    height: 600px;
}

  .boxs {
    background-color:white; 
    padding: 20px;
    width: 75%;
    border: 1px solid #eee;
    border-radius: 10px;
}

   dl dd {
    margin-bottom: 5px;
}

   .userImg img {
        transition: all 0.3s ease-out;
    }

   .userImg:hover img {
            transform: scale(1.15);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

       


</style>
}
<div class="product-detiles row text-center">
   
    <hr />
    <div class="first-section col-md-7 mt-5 p-5">
        @for (int i = 0; i < pImages.Count(); i++)
        {
            <div class="m-1">
                <img class="w-75 h-100" class="img-thumbnail" style="object-position: 50% 50%; object-fit: cover; width: 250px; height:250px" src="~/img/products/@pImages.ElementAt(i).img_name" alt="Product image @i" />
            </div>
        }
    </div>




    <div class="second-section col-md-5 mt-5 p-5">
     <div class="boxs">
      <dl>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quantity_available)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quantity_available)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price_per_unit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price_per_unit) S.P
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.offer_price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.offer_price) S.P
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.offer_price_start_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.offer_price_start_date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.offer_price_end_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.offer_price_end_date)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.wholesealer)
        </dt>
        <dd>
            @{
                var wholesealerImage = @Model.wholesealer?.img_name ?? "Default.jpg";
            }
            <a class="link-dark text-decoration-none" asp-controller="Home" asp-action="viewUser" asp-route-id="@Model.wholesealer_id">
                <span class="userImg d-flex align-items-center">
                    <img style="object-position: 50% 50%; object-fit: cover; width: 50px; height:50px" class="rounded-circle me-2" src="~/img/users/@wholesealerImage" alt="user image" asp-append-version="true" />
                    <span class="userName">@Model.wholesealer.name</span>
                </span>
            </a>

        </dd>
    </dl>
    </div>
</div>
</div>

